{% assign metafield_namespace = block.settings.namespace %}
{% assign metafield_key = block.settings.key %}

{% assign metafield_value = block.settings.product.metafields[metafield_namespace][metafield_key] %}

{% if metafield_value %}
  <pre style="
      font-size: {{ block.settings.text_size }}; 
      font-weight: {{ block.settings.font_weight }};
      background-color: {{ block.settings.background_color }}; 
      padding: 10px; 
      border-radius: 5px;">
    {{ metafield_value.value | json }}
  </pre>
{% else %}
  <span>No data available</span>
{% endif %}

{% schema %}
{
  "name": "JSON",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "Product", "autofill": true },
    { "type": "text", "id": "namespace", "label": "Metafield Namespace", "default": "json_namespace" },
    { "type": "text", "id": "key", "label": "Metafield Key", "default": "json_key" },
    { "type": "select", "id": "font_weight", "label": "Font Weight", "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "bold", "label": "Bold" }
      ], "default": "normal" },
    { "type": "text", "id": "text_size", "label": "Text Size", "default": "14px" },
    { "type": "color", "id": "background_color", "label": "Background Color", "default": "#EFEFEF" }
  ]
}
{% endschema %}
