.mainindex{
  width: 90%;
  margin: 0 auto;
}
.topDivison h1 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: justify;
}
.topDivison p {
  font-size: 14px;
  margin-bottom: 10px;
}
.marginclass{
  margin-bottom: 17px;
}
.SecondDiv h2 {
  font-size: 15px;
  font-weight: 600;
}
.redirectbutton{
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.SecondDiv p {
  font-size: 14px;
  margin-bottom: 12px;
}
.ThirdDivision h1{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.ThirdDivision h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7px;
}
.ThirdDivision h4{
  font-size: 14px;
  margin-bottom: 10px;
}
.ThirdDivision p{
    margin-top: 10px
}
.videoContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.bottompart{
  margin-bottom: 15px;
}
.bottompart span{
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

.instructionArea p{
  margin: 0;
  font-size: 14px;
}
.instructionArea img{
  width: 100%;
  border-radius: 12px;
  padding: 13px 0px;
}
.pageimages{
  border-radius: 12px;
}
.addblockpart{
  display: flex;
}
.addblockpart img{
  width: 55%;
  height: 250px;
}
.subtexts-add{
  /* color: #5e5dc2; */
  font-size: 14px;
  font-weight: 600;
}
.subtexts-app{
  /* color: #008f6e; */
  font-size: 14px;
  font-weight: 600;
}
.subtexts-block{
  /* color: #f9d02e; */
  font-size: 14px;
  font-weight: 600;
}
.subpro{
  font-size: 14px;
  font-weight: 600;
}
.addBlockimg{
  width: 50%;
  height: 270px;
}
.steps{
  font-weight: 600;
}
.whymajik h2{
  font-size: 14px;
  font-weight: 500;
}
.whymajik p{
  font-size: 13px;
  margin-bottom:8px ;
}