.metafieldadd-container {
  padding: 20px;
}

.addproductimage {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.subadddata {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.subadddata h4{
  font-weight: 600;
}
.meta-table-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 0.2fr;
  gap: 10px;
  padding-bottom: 16px;
  background-color: #f9f9f9;
  padding: 10px 10px 10px 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.meta-row-grid {
  display: contents;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.meta-header {
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 0.2fr;
  background-color: #f9f9f9;
  margin-top: 10px;
}
.meta-cell-title {
  padding: 15px 10px 0px 13px;
  text-align: left;
  font-weight: 500;
}
.addproduct-detail img {
  margin: 0;
}
.addproduct-detail {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
.meta-cell-grid {
  text-align: center;
  border-radius: 4px;
  display: grid;

}
.meta-cell-grid input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.readonly-input {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.button-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.delete-cell {
  display: flex;
  align-items: center;
  justify-content: center;

}


.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer; /* Add a pointer cursor to indicate it is clickable */
}