.meta-count {
  background-color: rgb(226, 226, 226);
  color: black;
  width: fit-content;
  padding: 3px 6px 3px 6px;
  border-radius: 6px;
  font-size: 12px;
  margin: 0;
}

.meta-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.product-title {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.meta-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.7fr 0.3fr;
  gap: 10px;
  padding-bottom: 16px;
}

.meta-cell-title {
  padding: 15px 10px 0px 10px;
  text-align: left;
  font-weight: 500;
}
.meta-cell input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.viewmeta-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 0.3fr;
  font-weight: bold;
  margin-bottom: 10px;
}

.meta-row {
  display: contents;
}

.meta-cell {
  background-color: #fff;
  /* border: 1px solid #e0e0e0; */
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.submitbutton {
  padding: 20px;
}
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.headviewtitle {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.headviewtitle img {
  width: 20px;
  height: 20px;
}
.headviewtitle h3 {
  margin-bottom: 0;
}
.metaaddition {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.icon-container {
  position: relative;
  align-items: center;
  display: flex;
}

.tooltip-message {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  bottom: -30px; /* Adjust to position the tooltip below the icon */
  left: -20px;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .tooltip-message {
  visibility: visible;
  opacity: 1;
}

.delete-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding-left: 6px;
}
.lineicon img {
  width: 10px;
  height: 22px;
  margin-top: 5px;
}
.copy-icon {
  padding-right: 6px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.loaderpart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.loadergif {
  width: 30px;
  height: 30px;
  text-align: center;
}
.Nometadata {
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}
