.Maincontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wholearea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;;
}

.grid-container {
  padding: 5px 10px 5px 10px;
  border: 1px solid #e1e1e1;;
  width: 90%;
  border-radius: 12px;
  background-color: white;
}
.grid-container p {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px 8px 10px;
}

.grid-header {
  display: contents;
  font-weight: 600;
  background-color: #f4f6f8;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;;
  text-align: center;
  padding-bottom: 20px;
}
.grid-header div {
  padding: 12px 10px 12px 3px;
  text-wrap: nowrap;
}
.grid-row {
  display: contents;
  padding: 10px;
  border-bottom: 1px solid #898a8c;
  text-align: center;
}

.grid-row > div {
  padding: 10px 0;
}
.grid-row div {
  border-bottom: 1px solid lightgray;
}
.grid-row p {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 12px;
}
.downloadpink {
  padding: 8px;
  border-radius: 12px;
  background-color: #ff3e6b;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.Viewpink {
  padding: 8px 12px 8px 12px;
  border-radius: 12px;
  background-color: #ff3e6b;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.disabled {
  background-color: #ffc1cf;
  color: #665454;
  font-weight: 500;
  cursor: default;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.page-number {
  font-size: 14px;
  font-weight: 500;
}
.allrows {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px 20px 20px 20px;
  background-color: white;
  border-radius: 20px;
  margin-top: 5px;
  border: 1px solid #e1e1e1;
  overflow-y: scroll;
}

.viewbutton {
  text-decoration: none;
  color: #000;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;

  font-weight: 500;
}
.status p {
}
.completedStatus {
  justify-content: center;
  display: flex;
  color: green;
}

.pendingStatus {
  color: red;
  justify-content: center;
  display: flex;
}
.viewbutton a {
  text-decoration: none;
  color: #fff;
}

.viewbutton a:disabled {
  color: lightgray;
}

@media screen and (max-width:1000px){
  .downloadpink{
    margin-right: 12px;
  }
  
}